/* 
  
  .img-btn {
    text-align: center;
    width:50px;
    height: 50px;
    margin-left:25px;
    margin-top:80px;
    cursor: pointer;
  }


  .H-container {
    margin: 10px;
    padding: 0;
    width: 1448px;
    height: 476;
  }
  
  
  .logo-dash {
    text-align: center;
    margin-top: 30px;
    margin-left:25px;
    position: absolute;
    width:50px;
    height:50px;
    cursor: pointer;
  }
   */
