


.navbar {
  align-items: center;
  text-align: center;
  height:100px;
  margin-top: 15px;
  padding: 5px;
  border-bottom:1px solid #000af5
}

ul {
  width: 1050px;
  margin-left: 180px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
padding-top:10px;
}

.logo {
  position: absolute;
  left: 20px;
  list-style: none;
  padding-top:10px;
}

.logo a {
  text-decoration: none;
  padding-left: 15px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Pacifico", cursive;
  color: #000af5;
}

.home-link a {
  margin-right: 180px;
  text-decoration: none;
  padding:20px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Fredoka One", cursive;
  color: #454545;
}

.home-link {
  list-style: none;
}

.home-link:hover {
  color: #000af5;
}

.start-btn {
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", Helvetica, sans-serif;
  background: #000af5;
  color: white;
  padding-left: 5px;
  height: 44px;
  width: 150px;
  border-radius: 6px;
  border: none;
  right: 20px;
}
.start-btn:hover {
  background: #1073e3;
  border-radius: 3px;
}